* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  font-family: 'poppins', sans-serif;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
/*  */

body {
  background-color: #f9b9b7;
  font-family: sans-serif;
  transition: all 0.5s ease;
}
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro-text h2 {
  font-size: 50px;
  margin-bottom: 10px;
}
.intro-text p {
  font-size: 22px;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.page2 {
  text-align: center;
  width: 70%;
}
.page2 h2 {
  margin-bottom: 20px;
  font-size: 25px;
}

section img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.bg-active {
  background-color: white;
}
/*  */

.box1 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/image1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}
.box2 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/image2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}
.box3 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/image3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: table;
}
h1 {
  font-family: cursive;
  font-size: 3rem;
  color: #fff;
  margin: 5px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
/*  Typewriting effect*/
.intro {
  display: flex;
  color: white;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/image3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.typing {
  position: relative;
  margin-left: 10px;
  font-size: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.typing::after {
  content: '';
  position: absolute;
  right: -5px;
  width: 1px;
  height: 9%;
  border-right: 2px solid white;
  animation: blink 0.5s infinite ease;
}
.Typewriting {
  font-size: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 95px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  */

.title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5d4954;
}
.images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.image-container {
  height: 400px;
  width: 600px;
  position: relative;
}

.image-container img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.transition-image:hover {
  opacity: 1;
}

.fade::after {
  content: 'Beautiful!';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  background: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.fade:hover::after {
  opacity: 0.5;
}

/*  */

.gallery-highlight {
  width: 90%;
  height: 60%;
}
.gallery {
  display: flex;
  height: 100vh;
}
.img-gallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2d2c0;
}

.img-preview {
  display: flex;
  width: 90%;
  border: 2px solid #e2d2c0;
}
.img-preview img {
  height: 100px;
  flex-grow: 1;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
img.img-active {
  opacity: 1;
}

/* Image Slider*/

.carousel-container {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 20px auto;
  overflow: hidden;
}
.track {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 300ms ease;
}
.track li {
  position: absolute;
  width: 100%;
  height: 100%;
}
.track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hide {
  display: none;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #999;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0 3px;
  cursor: pointer;
}
.dots-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.active-dot {
  background-color: #333;
  transform: scale(1.2);
}

.delete-dots {
  display: none;
}

#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
}
#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
}

/*  swiper 3d*/
.swip {
  background: #edaeab33;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiper-pagination {
  margin-top: 260px;
}
/* Box Border Hover Effects */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
.card {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.container {
  position: relative;
  width: 90%;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 40px;
}
.container .box {
  position: relative;
  height: 400px;
  background: rgba(72, 64, 92, 0.774);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.container .box::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  transform: skew(2deg, 2deg);
  z-index: -1;
}
.container .box:nth-child(1):before {
  background: linear-gradient(315deg, #ff0057, #e64a19);
}
.container .box:nth-child(2):before {
  background: linear-gradient(315deg, #89ff00, #00bcd4);
}
.container .box:nth-child(3):before {
  background: linear-gradient(315deg, #e91e63, #5d02ff);
}
.container .box:nth-child(4):before {
  background: linear-gradient(315deg, #ff0000, #ffc107);
}
.container .box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.content {
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}
.box .content h2 {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
}
.box:hover .content h2 {
  top: -140px;
}
.box .content h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.box .content p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}
.box .content a {
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
.box:hover .content a {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.box .content a:hover {
  color: #000;
  background: #fff;
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
